*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, ul, ol, h1, h2, h3, h3, h4, h5, h6, p{
	margin: 0;
	padding: 0;
}

body{
	font-family: Arial, sans-serif;
}

#header{
	position: relative;
    display: flex;
    flex-direction: column;
	background-color: #f4c99f;
	height: 100px;
	padding: 10px;
}

#meni{
	position: relative;
	margin-top: auto;
}

#meni ul{
	list-style-type: none;
}


#meni ul li{
	position: relative;
	float: left;
	padding: 0px 15px 0px 0px;
}


#header #logo {
	position: relative;
	float: left;
}

#header h2{
	font-size: 40px;
	text-align: center;
}

#sredina{
	height: 580px;
	background-color: #dfdce2;
}

#sredina #glavniSadrzaj{
	width: 85%;
	height: 580px;
	background-color:#e9e6ed;
	margin: 0 auto;
	padding:20px;
}

#sredina #glavniSadrzaj #noviZadatak{
	box-shadow: 5px 10px 8px #888888;
	width: 40%;
    height: 500px;
    margin: auto;
	background-color: #f6f2f9;
	padding-top: 15px;
}

#sredina #glavniSadrzaj #noviZadatak h2{
	text-align: center;
}

label{
	display: block;
	padding:20px 0px 15px 50px;
}

#sredina #glavniSadrzaj #noviZadatak #naziv, #sredina #glavniSadrzaj #noviZadatak #vjezba1{
	width: 250px;
	height: 30px;
	margin:0px 0px 20px 50px;
}

#sredina #glavniSadrzaj #noviZadatak #vjezba1{
	display: block;
}

#sredina #glavniSadrzaj #noviZadatak #postavka{
	margin:0px 0px 20px 50px;
}

#sredina #glavniSadrzaj #noviZadatak #dugme{
	width: 100px;
	position: relative;
	margin: 10px 50px 15px;
	float: right;
	height: 30px;
}

#sredina #glavniSadrzaj #noviZadatak #poruka{
	margin-top: 80px;
	margin-left: 50px;
}

#footer{
	background-color: #f4c99f;
	text-align: center;
	padding: 20px 0px;
}

@media only screen and (min-width: 600px){
	#sredina #glavniSadrzaj #noviZadatak{
		width: 400px;
	}
	#header h2{
		position: absolute;
		top: 15px;
		right: 20px;
	}
}

@media(max-width: 600px){
	#sredina #glavniSadrzaj #noviZadatak{
		width: 100%;
	}
	#sredina #glavniSadrzaj{
		width: 100%;
	}
	#header{
		height: 130px;
	}
	#header h2{
		font-size: 25px;
	}
	}