*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, ul, ol, h1, h2, h3, h3, h4, h5, h6, p{
	margin: 0;
	padding: 0;
}

body{
	font-family: Arial, sans-serif;
}

#header{
	position: relative;
    display: flex;
    flex-direction: column;
	background-color: #f4c99f;
	height: 100px;
	padding: 10px;
}

#meni{
	position: relative;
	margin-top: auto;
}

#meni ul{
	list-style-type: none;
}


#meni ul li{
	position: relative;
	float: left;
	padding: 0px 15px 0px 0px;
}


#header #logo {
	position: relative;
	float: left;
}

#header h2{
	font-size: 40px;
	text-align: center;
}

#sredina{
	height: 1100px;
	background-color: #dfdce2;
}

#sredina #glavniSadrzaj{
	width: 85%;
	height: 1100px;
	background-color:#e9e6ed;
	margin: 0 auto;
	padding:20px;
}

#sredina #glavniSadrzaj #fPostojeca{
	box-shadow: 5px 10px 8px #888888;
	width: 450px;
    height: 350px;
    margin: auto;
    margin-bottom: 20px;
	background-color: #f6f2f9;
	padding-top: 15px;
}

#sredina #glavniSadrzaj #fNova{
	box-shadow: 5px 10px 8px #888888;
	width: 450px;
    height: 450px;
    margin: auto;
	background-color: #f6f2f9;
	padding-top: 15px;
}

#sredina #glavniSadrzaj #fPostojeca h2, #sredina #glavniSadrzaj #fNova h2{
	text-align: center;
}

label{
	display: block;
	padding:20px 0px 15px 50px;
}

#sredina #glavniSadrzaj #fPostojeca .sGodine, #sredina #glavniSadrzaj #fPostojeca #sVjezbe{
	width: 250px;
	height: 30px;
	margin:0px 0px 20px 50px;
}

#sredina #glavniSadrzaj #fPostojeca .dugme{
	width: 100px;
	position: relative;
	margin: 50px 50px 15px;
	float: right;
	height: 30px;
}

#sredina #glavniSadrzaj #fNova #naziv, #sredina #glavniSadrzaj #fNova .sGodine{
	width: 250px;
	height: 30px;
	margin:0px 75px 20px 50px;
}

#sredina #glavniSadrzaj #fNova ul{
	list-style-type: none;
	height: 100px;
	width: 250px;
	background-color: white;
	margin:20px 0px 20px 50px; 
	border: 1px solid #9ea0a3;
	overflow: auto;
}

#sredina #glavniSadrzaj #fNova ul li{
	padding: 7px;
}

#sredina #glavniSadrzaj #fNova #sZadatak{
	margin:20px 15px 20px 50px;
	width: 160px;
	height: 30px;
}

#sredina #glavniSadrzaj #fNova #dZadatak{
	width: 150px;
	height: 30px;
	margin:20px 50px 20px 20px;
}



#sredina #glavniSadrzaj #fNova #check{
	margin:20px 25px 20px 50px;
}

#sredina #glavniSadrzaj #fNova .dugme{
	float: right;
	margin:20px 50px 20px 20px;
	width: 150px;
	height: 30px;
}

#sredina #glavniSadrzaj #fPovezana{
	box-shadow: 5px 10px 8px #888888;
	width: 450px;
    height: 200px;
    margin: auto;
	background-color: #f6f2f9;
	padding-top: 15px;
}

#sredina #glavniSadrzaj #fPovezana #sVjezbe, #sredina #glavniSadrzaj #fPovezana #sZadatak{
    width: 250px;
	height: 30px;
	margin:0px 55px 20px 50px;
}

#sredina #glavniSadrzaj #fPovezana #dZadatak{
	float: right;
	margin:0px 35px 10px 20px;
	width: 150px;
	height: 30px;

}

#footer{
	background-color: #f4c99f;
	text-align: center;
	padding: 20px 0px;
}

@media only screen and (min-width: 600px){
	#header h2{
		position: absolute;
		top: 15px;
		right: 20px;
	}
}

@media(max-width: 600px){
	#header{
		height: 130px;
	}
	#header h2{
		font-size: 25px;
	}
	#sredina #glavniSadrzaj{
		width: 100%;
	}
}